<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
  <nav class="navbar">
    <a href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='images/borisnacks.png') }}" alt="Logo" class="navbar-logo">
    </a>

    {% if session.user_id %}
        <p class="user-greeting">Hola, {{ session.user_name }}</p>
    {% endif %}

    <ul class="navbar-items">
      <li><a href="{{ url_for('about') }}" class="{% if request.endpoint == 'about' %}active{% endif %} active">
        <ion-icon name="people"></ion-icon>
      </a></li>

      <!-- <li><a href="{{ url_for('registro') }}" class="{% if request.endpoint == 'registro' %}active{% endif %}">Registro</a></li> -->

      <li><a href="{{ url_for('login') }}" class="{% if request.endpoint == 'login' %}active{% endif %} active"><ion-icon name="log-in"></ion-icon></a></li>
    </ul>
  </nav>
  {% block body %}{% endblock %}
  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>