{% extends 'base.html' %}

{% block head %}
<title>BoriSnacks</title>
{% endblock %}

{% block body %}
<div class="section">
    <h2>Snacks:</h2>
    <div class="tarjetas">
        {% for producto in productos if producto.categoria == 'Merienda' %}
            <div class="tarjeta">
                <div class="tarjeta-producto">
                    {% if producto.imagen %}
                    <img src="{{ url_for('static', filename=producto.imagen) }}" alt="{{ producto.nombre }}" style="max-width: 300px; height: auto; border-radius: 10px;">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Imagen no disponible" style="max-width: 300px; height: auto; border-radius: 10px;">
                {% endif %}
                <div>
                    <p>{{ producto.nombre }}</p>
                    <p>${{ producto.precio }}</p>
                    <div class="product-buttons">
                        <div>
                            <button class="btn-buy">Buy</button>
                        </div>
                        <div class="buttons-carro">
                            <button class="btn-cart"><ion-icon name="cart"></ion-icon></button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>Dulces:</h2>
    <div class="tarjetas">
        {% for producto in productos if producto.categoria == 'Dulce' %}
            <div class="tarjeta">
                <div class="tarjeta-producto">
                    {% if producto.imagen %}
                    <img src="{{ url_for('static', filename=producto.imagen) }}" alt="{{ producto.nombre }}" style="max-width: 300px; height: auto; border-radius: 10px;">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Imagen no disponible" style="max-width: 300px; height: auto; border-radius: 10px;">
                {% endif %}
                <div>
                    <p>{{ producto.nombre }}</p>
                    <p>${{ producto.precio }}</p>
                    <div class="product-buttons">
                        <div>
                            <button class="btn-buy">Buy</button>
                        </div>
                        <div class="buttons-carro">
                            <button class="btn-cart"><ion-icon name="cart"></ion-icon></button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>Bebidas:</h2>
    <div class="tarjetas">
        {% for producto in productos if producto.categoria == 'Bebida' %}
            <div class="tarjeta">
                <div class="tarjeta-producto">
                    {% if producto.imagen %}
                    <img src="{{ url_for('static', filename=producto.imagen) }}" alt="{{ producto.nombre }}" style="max-width: 300px; height: auto; border-radius: 10px;">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Imagen no disponible" style="max-width: 300px; height: auto; border-radius: 10px;">
                {% endif %}
                <div>
                    <p>{{ producto.nombre }}</p>
                    <p>${{ producto.precio }}</p>
                    <div class="product-buttons">
                        <div>
                            <button class="btn-buy">Buy</button>
                        </div>
                        <div class="buttons-carro">
                            <button class="btn-cart"><ion-icon name="cart"></ion-icon></button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>Todos los productos:</h2>
    <div class="tarjetas">
        {% for producto in productos %}
            <div class="tarjeta">
                <div class="tarjeta-producto">
                    {% if producto.imagen %}
                    <img src="{{ url_for('static', filename=producto.imagen) }}" alt="{{ producto.nombre }}" style="max-width: 300px; height: auto; border-radius: 10px;">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Imagen no disponible" style="max-width: 300px; height: auto; border-radius: 10px;">
                {% endif %}
                <div>
                    <p>{{ producto.nombre }}</p>
                    <p>${{ producto.precio }}</p>
                    <div class="product-buttons">
                        <div>
                            <button class="btn-buy">Buy</button>
                        </div>
                        <div class="buttons-carro">
                            <button class="btn-cart"><ion-icon name="cart"></ion-icon></button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}