<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/registro.css') }}">
  <title>BoriSnacks - login</title>
</head>
<body>
  <h1>Log in de Usuario </h1>
  <form action="/login" method="POST">
    <label for="correo">Correo Electrónico:</label>
    <input type="email" id="correo" name="correo" required>
    <br>

    <label for="contraseña">Contraseña:</label>
    <input type="password" id="contraseña" name="contraseña" required>
    <br>

    <button type="submit">Iniciar Sesión</button>
  </form>

  <p>¿No tienes cuenta? <a href="/registro">Regístrate aquí</a></p>

  {% if 'user_id' in session %}
  <form action="/logout" method="GET">
    <button type="submit">Cerrar Sesión</button>
  </form>
  <button id="delete-account-btn" class="delete-button">Borrar Cuenta</button>

  <!-- Primer pop-up de confirmación -->
  <div id="confirm-popup" class="popup" style="display: none;">
      <p>¿Estás seguro de que deseas eliminar tu cuenta? Esta acción no se puede deshacer.</p>
      <button id="confirm-yes">Sí, eliminar</button>
      <button id="confirm-cancel">Cancelar</button>
  </div>

  <!-- Segundo pop-up para ingresar la contraseña -->
  <div id="password-popup" class="popup" style="display: none;">
      <p>Por favor, ingresa tu contraseña para confirmar:</p>
      <input type="password" id="delete-password" placeholder="Ingresa tu contraseña">
      <button id="submit-delete">Eliminar cuenta</button>
      <button id="password-cancel">Cancelar</button>
  </div>

  <form id="delete-form" method="POST" action="{{ url_for('delete_account') }}" style="display: none;">
      <input type="hidden" name="contraseña" id="hidden-password">
  </form>
  {% endif %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>