.navbar {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center; /* Centra verticalmente */
  padding: 0 20px; /* Añade un poco de espacio en los lados */
  /* background-color: aliceblue; */
}

.navbar-logo {
  width: 60px; /* Ajusta este valor según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}

.navbar-items {
  display: flex;
  list-style: none;
  margin-left: auto; /* Empuja los elementos a la derecha */
}

.navbar-items ion-icon {
  font-size: 30px; /* Ajusta este valor según sea necesario */
}

.active {
  color: inherit; /* Mantiene el color original del enlace */
}